<html lang="zh-CN">

{% block header %}
<head>
    <meta charset="utf-8">
    <meta-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> shiyanlou news </title>
    <link href="{{ url_for('static', filename="bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="bootstrap-3.3.7-dist/css/starter-template.css") }}" rel="stylesheet">
    <script src="{{ url_for('static', filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}"></script>
</head>
{% endblock %}
<body>
	<div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Shiyanlou News</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    {% block nav %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('index') }}">Index</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    {% endblock %} 
                </div>
            </div>
        </nav>
    </div>
	<div class="container">
        <div class="starter-template">
            {% block content %}{% endblock %} 
        </div>
    </div>
	<div id="footer" class="container">
		{% block footer %}
        <p class="lead">&copy; Copyright 2017 by <a href="https://www.shiyanlou.com/">shiyanlou</a>.</p>
		{% endblock %}
	</div>
</body>
</html>
