{% extends "base.html" %}

{% block title %}Live{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <video id="videoElement" width="100%" height="500px" controls="controls"></video>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="static/flv.min.js"></script>
<script>
    if(flvjs.isSupported()){
        var videoElement = document.getElementById("videoElement");
        var flyPlayer = flvjs.createPlayer({
            type: "flv", 
            isLive: true,
            url: ""
        });
        flyPlayer.attachMediaElement(videoElement);
        flyPlayer.load();
        flyPlayer.play();
    }
</script>
{% endblock %}
